@import './addTodoModal/addTodoModal.styles.scss';

.todo-list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
}

.todo-list-view__list {
  width: 400px;
}

.todo-list-view__header {
  color: white;
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
}